<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="static\css\EditList.css" rel="stylesheet">
</head>
    <body>
        <nav class="navbar navbar-custom" id="navbar">
            <div class="container-fluid">
                <div id="nav-logo"><a href="/Dashboard">KanGo</a></div>
                <button class="navbar-toggler navbar-toggler-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header offcanvas-header-custom">
                <h2 class="offcanvas-title" id="offcanvasRightLabel">Username</h2>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body offcanvas-body-custom">
                <div>
                    <div class="offcanvas-body-elements"><a href="/UserProfile">User Profile</a></div>
                    <div class="offcanvas-body-elements"><a href="/UserSearch">Search and follow user</a></div>
                    <div class="offcanvas-body-elements"><a href="/ProjectAdder">Create a New Project</a></div>
                    <div class="offcanvas-body-elements"><a href="/ListAdder">Create a New List</a></div>
                    <div class="offcanvas-body-elements"><a href="/CardAdder">Create a New Card</a></div>
                    <div class="offcanvas-body-elements"><a href="/ListSummary">List Summary</a></div>
                    <div class="offcanvas-body-elements"><a href="/ListReport">List Report</a></div>
                    <div class="offcanvas-body-elements"><a href="/RemoveRoles">Remove Roles</a></div>
                    <div class="offcanvas-body-elements"><a href="/Logout">Logout</a></div>
                </div>
            </div>
        </div>
        <div class="contaier container-custom">
            <form id="listadding-form" method="post" action="/EditList/{{listid}}">
                <div id="addlistform">
                    <div class="mb-3"><h2><em>Add a list</em></h2></div>
                        {% if datapassed is defined %} 
                            {% if generalerror is defined %}
                            <div class="alert alert-danger" role="alert">
                                {{generalerror}}
                            </div>
                            {% endif %}
                            <div class="mb-3">
                                <div class="alert alert-primary" role="alert">
                                    <ul>
                                        <li>Use Control (Windows) and Command(Mac) to select multiple list</li>
                                        <li>Hold Control and Click on the selected list to deselect</li>
                                    </ul>
                                </div><br>
                                <label for="list-name" class="form-label"><strong>Select contributors to be added to this list</strong></label>
                                <select class="form-select" size="3" multiple aria-label="multiple select example" id="contributor-name" name="contributor-name">
                                    {% for i in contributordata %}
                                        <option value="{{i[0]}}">{{i[1]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="list-name" class="form-label"><strong>List Name</strong></label>
                                <input type="text" class="form-control" id="list-name" name="list-name" placeholder="MyList" value="{{listname}}">
                            </div>
                            <div class="mb-3">
                                <label for="ListDescription" class="form-label"><strong>Description</strong></label>
                                <textarea class="form-control" id="ListDescription" name="ListDescription" placeholder="Enter the description of your list here" rows="6">{{listdescription}}</textarea>
                            </div>
                        {% else %}
                            <div class="mb-3">
                                <div class="alert alert-primary" role="alert">
                                    <ul>
                                        <li>Use Control (Windows) and Command(Mac) to select multiple list</li>
                                        <li>Hold Control and Click on the selected list to deselect</li>
                                    </ul>
                                </div><br>
                                <label for="list-name" class="form-label"><strong>Select project to add this list</strong></label>
                                <select class="form-select" size="3" multiple aria-label="multiple select example" id="project-name" name="project-name">
                                    {% for i in projectdata %}
                                        <option value="{{i[0]}}">{{i[1]}}</option>
                                    {% endfor %}
                                </select>
                                <label for="list-name" class="form-label"><strong>Select contributors to be added to this list</strong></label>
                                <select class="form-select" size="3" multiple aria-label="multiple select example" id="contributor-name" name="contributor-name">
                                    {% for i in contributordata %}
                                        <option value="{{i[0]}}">{{i[1]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="list-name" class="form-label"><strong>List Name</strong></label>
                                <input type="text" class="form-control" id="list-name" name="list-name" placeholder="MyList">
                            </div>
                            <div class="mb-3">
                                <label for="ListDescription" class="form-label"><strong>Description</strong></label>
                                <textarea class="form-control" id="ListDescription" name="ListDescription" placeholder="Enter the description of your list here" rows="6"></textarea>
                            </div>
                        {% endif %}
                    <div class="mb3">
                        <input class="btn btn-primary btn-custom" type="submit" name="Addbutton" value="Save" id="login-submit-button" >
                    </div>
                </div>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>