<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="static\css\EditCard.css" rel="stylesheet">
</head>
    <body>
        <nav class="navbar navbar-custom" id="navbar">
            <div class="container-fluid">
                <div id="nav-logo"><a href="/Dashboard">KanGo</a></div>
                <button class="navbar-toggler navbar-toggler-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header offcanvas-header-custom">
                <h2 class="offcanvas-title" id="offcanvasRightLabel">Username</h2>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body offcanvas-body-custom">
                <div>
                    <div class="offcanvas-body-elements"><a href="/UserProfile">User Profile</a></div>
                    <div class="offcanvas-body-elements"><a href="/UserSearch">Search and follow user</a></div>
                    <div class="offcanvas-body-elements"><a href="/ProjectAdder">Create a New Project</a></div>
                    <div class="offcanvas-body-elements"><a href="/ListAdder">Create a New List</a></div>
                    <div class="offcanvas-body-elements"><a href="/CardAdder">Create a New Card</a></div>
                    <div class="offcanvas-body-elements"><a href="/ListSummary">List Summary</a></div>
                    <div class="offcanvas-body-elements"><a href="/ListReport">List Report</a></div>
                    <div class="offcanvas-body-elements"><a href="/RemoveRoles">Remove Roles</a></div>
                    <div class="offcanvas-body-elements"><a href="/Logout">Logout</a></div>
                </div>
            </div>
        </div>
        <div class="contaier container-custom">
            <form id="cardadder" method="post" action="/EditCard/{{cardid}}">
                <div id="addcardform">
                    <div class="mb-3"><h2><em>Add a Card</em></h2></div>
                    {% if datapassed is defined %}
                        {% if generalerror is defined %}
                            <br>
                            <div class="alert alert-danger" role="alert">
                                {{generalerror}}
                            </div>
                        {% endif %}
                        <div class="mb-3">
                            <label for="card-name" class="form-label"><strong>Card title</strong></label>
                            <input type="text" class="form-control" id="card-name" name="card-name" placeholder="MyCard" value="{{title}}">
                        </div>
                        <div class="mb-3">
                            <label for="CardDiscription" class="form-label"><strong>Description</strong></label>
                            <textarea class="form-control" id="CardDiscription" name="CardDiscription" placeholder="Enter the description of your Card here" rows="6">{{description}}</textarea>
                        </div>
                        <div>
                            <label for="deadline" class="form-label"><strong>Complete by</strong></label>
                            <input type="date" class="form-control" id="deadline" name="deadline" value="{{due}}">
                        </div>
                        {% if '1' in marked %}
                            <div class="form-check checkbox-custom">
                                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="Status" checked>
                                <label class="form-check-label" for="flexCheckDefault"><strong>Mark as Complete</strong></label>
                            </div>
                        {% else %}
                            <div class="form-check checkbox-custom">
                                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="Status">
                                <label class="form-check-label" for="flexCheckDefault"><strong>Mark as Complete</strong></label>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="mb-3">
                            <label for="list-name" class="form-label"><strong>Select Lists to add this Card</strong></label>
                            <div class="alert alert-primary" role="alert">
                                <ul>
                                    <li>Use Control (Windows) and Command(Mac) to select multiple list</li>
                                    <li>Hold Control and Click on the selected list to deselect</li>
                                </ul>
                            </div><br>
                            <select class="form-select" size="3" multiple aria-label="multiple select example" id="list-name" name="list-name">
                                {% for i in listdata %}
                                    <option value="{{i[0]}}">{{i[1]}} - {{i[2]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="card-name" class="form-label"><strong>Card title</strong></label>
                            <input type="text" class="form-control" id="card-name" name="card-name" placeholder="MyCard">
                        </div>
                        <div class="mb-3">
                            <label for="CardDiscription" class="form-label"><strong>Description</strong></label>
                            <textarea class="form-control" id="CardDiscription" name="CardDiscription" placeholder="Enter the description of your Card here" rows="6"></textarea>
                        </div>
                        <div>
                            <label for="deadline" class="form-label"><strong>Complete by</strong></label>
                            <input type="date" class="form-control" id="deadline" name="deadline">
                        </div>
                        {% if '1' in marked %}
                            <div class="form-check checkbox-custom">
                                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="Status" checked>
                                <label class="form-check-label" for="flexCheckDefault"><strong>Mark as Complete</strong></label>
                            </div>
                        {% else %}
                            <div class="form-check checkbox-custom">
                                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="Status">
                                <label class="form-check-label" for="flexCheckDefault"><strong>Mark as Complete</strong></label>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="mb3">
                        <input class="btn btn-primary btn-custom" type="submit" value="Add..." id="login-submit-button">
                    </div>
                </div>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>