<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="static\css\Login.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-custom" id="navbar">
      <div class="container-fluid">
        <div id="nav-logo">KanGo</div>
      </div>
    </nav>
      <div id="login-form-container">
        <form id="login-form" method="post" action="/">
          {% if datapassed is defined %}
            {% for i in data %}
              <div class="mb-3">
                <label for="login-username" class="form-label"><strong>Username</strong></label>
                <input type="text" class="form-control" id="login-username" name="login-username" placeholder="Example Username" value="{{i['login-username']}}">
              </div>
              {% if usernotentered is defined %}
                <div class="alert alert-danger" role="alert">
                  Please enter a username
                </div>
              {% endif %}
              {% if usernotfound is defined %}
                <div class="alert alert-danger" role="alert">
                  Username doesn't exist
                </div>
              {% endif %}
              <div class="mb-3">
                <label for="login-password" class="form-label"><strong>Password</strong></label>
                <input type="password" class="form-control" id="login-password" name="login-password" placeholder="Login Password" value="{{i['login-password']}}">
              </div>
              {% if passwordnotentered is defined %}
                <div class="alert alert-danger" role="alert">
                  Please enter a password
                </div>
              {% endif %}
              {% if incorrectpassword is defined %}
                <div class="alert alert-danger" role="alert">
                  Incorrect Password
                </div>
              {% endif %}
            {% endfor %}
          {% else %}
            <div class="mb-3">
              <label for="login-username" class="form-label">Username</label>
              <input type="text" class="form-control" id="login-username" name="login-username" placeholder="Example Username">
            </div>
            <div class="mb-3">
              <label for="login-password" class="form-label">Password</label>
              <input type="password" class="form-control" id="login-password" name="login-password" placeholder="Login Password">
            </div>
          {% endif %}
          <div>
              <span id="register"><a href="/Registeration">Register!</a></span>
              <input class="btn btn-primary btn-custom" type="submit" value="Login..." id="login-submit-button">
          </div>
        </form>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>